
.icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
}

.dark {
  background: #595761;
}

.dragon {
  background: #0C69C8;
}

.electric {
  background: #F2D94E;
}

.fire {
  background: #FBA54C;
}

.fairy {
  background: #EE90E6;
}

.fighting {
  background: #D3425F;
}

.flying {
  background: #A1BBEC;
}

.ghost {
  background: #5F6DBC;
}

.grass {
  background: #5FBD58;
}

.ground {
  background: #DA7C4D;
}

.ice {
  background: #75D0C1;
}

.normal {
  background: #A0A29F;
}

.poison {
  background: #B763CF;
}

.psychic {
  background: #FA8581;
}

.rock {
  background: #C9BB8A;
}

.steel {
  background: #5695A3;
}

.water {
  background: #539DDF;
}
