.table{
  background-color: azure;
  margin-top: 30px;
  width: 70% 
}

.table2{
  background-color: snow;
}

td{
  text-align: center;
  text-transform: capitalize;
}

th{
  width: 15%;
  text-align: center;
}